body {
    margin: 0px;

    background-image: linear-gradient(60deg, rgb(123, 69, 223) 10%, #7522bd 100%);
 
}

a {
  text-decoration: none;
}

.example::-webkit-scrollbar {
    display: none;
  }
   
  /* Скрываем scrollbar для IE, Edge и Firefox */
.example {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}

/* footer {
    overflow: hidden;
    width: 100%;
    
    background: #9d3ef0;  
    background-image: linear-gradient(60deg, rgb(237, 42, 224) 10%, #9d3ef0 100%);
   
    color: white;

    padding: 10px 0 0 0;
    border-radius: 20px;
    position: fixed;

    bottom: 0;
} */

.container {
    display: inline;
}

footer ul {list-style: none}
footer ul li {
    color: white;
    display: inline;
    transition: all .6s ease;
}

.footer-a {
    text-decoration: none;
    display: flex;
    text-align: center;
    font-size: 20px;

    align-items: center;
    justify-content: center;
    height: 54px;
    width: 200px;
    
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;

    color: rgba(0, 0, 0, 0.15);
}

footer ul li:hover, footer ul a:hover{
    color: #75756f;
    transform: scale(1.05);
}

.author {
    padding: 5px 5vw;
    font-size: 15px;
    width: auto;
    border: 2px solid white;
    border-radius: 100px;
    text-align: center;
    background-image: linear-gradient(60deg, rgb(237, 42, 224) 10%, #9d3ef0 100%);
}

.title {
    text-align: center;

    font-size: 30px;
    font-weight: bold;
}

.content {
    text-align: start;
    
    margin-left: 10%;
    margin-right: 10%;

    font-size: 20px;
    font-weight: 500;   
    
}

p {
  display: inline;
}

.date {
    margin-left: 5%;
    margin-right: 80%;

    font-size: 18px;
    font-weight: 200;
}

.amount-likes {
    margin-left: 15%;
    margin-right: 60%;

    font-size: 18px;
    font-weight: 700;
}

.post {
    margin: 2% 3%;
    border-radius: 40px;
    border: 1px solid #9d3ef0;

    background: #9d3ef0;  
    background-image: linear-gradient(0deg, rgb(128, 180, 240) 10%, #9d3ef0 100%);

    /* переносит текст, если не вмещается */
    word-break: break-all;

    overflow: hidden;
    text-overflow: ellipsis;

}

.post-image {
  margin: 1vw 0;

  margin-left: 20%;
  margin-right: 20%;

  border-radius: 15px;

  width: 55vw; 
  height: 100vh;
}

/* PROFILE */

.avatar {
  margin: 0 4%;
}

.container{
  overflow:hidden;
}
.box{
  white-space: nowrap;
}

.img-profile {
  margin-right: 4%;
}

.box div{
  /* width:90px; */
  display:inline-block;
  /* border:1px solid black */
}

.information {
  display: inline;
}

.img-user {
  /* display: inline; */
  border-radius: 50%;
  width: 30vh; 
  height: 30vh;
  background-size: auto 300px;
}

.img-posts-feed {
  border-radius: 50%;
  width: 10vh; 
  height: 10vh;
  background-size: auto 300px;
}

.name-user {
  font-weight: 700;
  font-size: 40px;
}

.bio {
  font-size: 25px;
  font-weight: 500;
}

.profile-btn {
  border-radius: 15px;

  color: black;
  font-size: 20px;
  font-weight: 300;

  margin-top: 3vh;
  padding: 1vw 5vw;

}

.send-message{
  margin-right: 1vw;
  background-image: linear-gradient(45deg, rgb(36, 51, 215) 10%, #2250d7 100%);
}

.add-friends {
  background-image: linear-gradient(45deg, rgb(36, 108, 215) 10%, #22d7b0 100%);
}

/* Dropown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn {
  background-color: #28c6e9;
  border-radius: 15px;
  color: white;
  padding: 16px;
  border: none;
  font-size: 16px;
  cursor: context-menu;
}

.dropbtn-profile {
  background-image: linear-gradient(60deg, rgb(212, 49, 196) 10%, #7522bd 100%);
}

.danger-icon {
  color: red;
}


.dropdown-content a:hover {background-color: #f1f1f1; border-radius: 30px;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #6f238f;}
.dropdown-profile:hover .dropbtn-profile {background-image: linear-gradient(60deg, rgb(162, 16, 148) 10%, #53108d 100%);}

/* tabs */

:root {
    --primary-color: #9d3ef0;
    --primary-color: #e6eef9;

    --secondary-color: #e6eef9;
    --secondary-color:#9d3ef0;
  }
  *, *:after, *:before {
    box-sizing: border-box;
  }
  .container-tab {
    position: fixed;
    left: 0;
  
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 10px;

  }
  .tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 99px;
  }
  .tabs * {
    z-index: 2;
  }
  input[type="radio"] {
    display: none;
  }
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 20vw;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
  }
  .notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.75rem;
    border-radius: 100%;
    background-color: var(--primary-color);
    transition: 0.15s ease-in;
  }
  input[type="radio"]:checked + label {
    color: var(--primary-color);
  }
  input[type="radio"]:checked + label > .notification {
    background-color: #bebebe;
    color: rgb(255, 255, 255);
  }
  input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
  }
  input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
  }
  input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
  }
  input[id="radio-4"]:checked ~ .glider {
    transform: translateX(300%);
  }
  .glider {
    position: absolute;
    display: flex;
    height: 54px;
    width: 20vw;
    background-color: var(--secondary-color);
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
  }
  @media (max-width: 700px) {
    .tabs {
      transform: scale(0.6);
    }
  }

  /* Comment Form */

.input-comment {
  border-radius: 30px;

  display: inline;
  
  margin-bottom: 1vw;

}

.btn-send {
  text-align: center;

  display: inline;

  border-radius: 50px;
  background-image: linear-gradient(60deg, rgb(61, 120, 202) 10%, #16d054 100%);

  font-size: 20px;
  font-weight: 500;

  margin-bottom: 3vw;

}

/* Comments */

.comment_by_user {
  border-radius: 15px;

  background-image: linear-gradient(60deg, rgb(153, 157, 163) 10%, #e4efe8 100%);

  margin-bottom: 1vw;
}

.img-profile-comm {
  border-radius: 50%;
  width: 5vh; 
  height: 5vh;
  /* background-size: auto ; */

  margin: 10px 10px;

}

.comm-user {
  font-weight: bold;
}

.comm-date {
  font-weight: 100;

  font-size: 15px;

  margin: 0 1vw 0 60vw;
}
