{% extends "discussions/base.html" %}

{% block title %}Profile {{ user_profile.user.username }}{% endblock %}

{% load blog_tags %}

{% block content_blog %}
<script>
    //http://cleanjs.ru/articles/krasivye-vsplyvayushhie-dialogovye-okna.html
   // alert(sessionStorage.user_id)

    //$(document).ready(function(){
        //Скрыть PopUp при загрузке страницы    
     //   PopUpHide();
    //});

    //Функция отображения PopUp
    function PopUpShowProfileInfo( user, user_id ){
        //alert(user_id)
        //alert(window.currentUser.name)
        //alert( user );
        //document.getElementById( user ).show();
        //$(f"#PopUpShowProfileInfo{user}").show();
        
    
        window.currentUser.id = user_id
        window.currentUser.user = user   

        $(`#${window.currentUser.user}`).show();
        //alert(window.currentUser.user)  
    }

    //Функция скрытия PopUp
    function PopUpHide( user ){
        //alert( user );
        //document.getElementById( user ).hide();
        $(`#${user}`).hide();
        //alert('HIDE');
    }  
    
  
</script>

    <!-- {{user}}
    {{users}} -->
    <div class="search">

        <form onsubmit="return executeQuery();">
            <input type="text" id="search" name="search" class="search-click" name="" placeholder="Search here..."  />  
        </form>   

        <span>
            <i class="fa fa-search"></i>
        </span>
    </div>
    
    {% for user in users %}
        {% if user.profile.first %}
            {% get_user_data user user_global as data%}
            <h3>DATA {{data}} - {{user}} - {{user_global}}</h3>
            
            <a href="javascript:PopUpShowProfileInfo('{{user}}', '{{user.id}}')">
                
                <div class="box box-chats">

                        <div class="">
                            <img src="{{ user.profile.first.profile_img.url }}" alt="None" class="img-posts-feed img-chatting">           
                        </div>

                        <div class="interlocutor profiles-all">
                            <h3>{{user.username}}</h3><br>      
                        </div>

                    

                    <a type="button" href="{% url 'create_conversation' user_id=user.id %}" class="send-message profile-btn">
                        Send a message
                    </a>
                    
                </div>
            </a>
        
            <div class="b-popup content-user" id="{{user}}">
 
                <div class="b-popup-content">
                        
                        <div class="container">
                            <div class="text-center close-btn-users">
                                <a href='javascript:PopUpHide("{{user}}")'><i class="fa-solid fa-xmark"></i></a>
                            </div>

                            <div class="box">
                                <!-- <div class="img-profile">
                                    <a href="{{ user_profile.profile_img.url }}">
                                        <img src="{{ user_profile.profile_img.url }}" alt="None" class="img-user">
                                    </a>
                                </div> -->
                    
                                <a href="{{ user.profile_img.url }}">
                                    <div class="box-image">
                                        <div class="content-image">
                                            <img src="{{ user.profile.first.profile_img.url }}" alt="None" class="img-user">
                                        </div>
                                    </div>
                                </a>
                                
                                <div class="box-info-user">
                                    <h3 class="name-user">{{ user.username }}</h3>
                                    <h2 class="bio">{{ user.profile.first.bio }}</h2>
                                
                                    <a type="button" href="{% url 'create_conversation' user_id=user.id %}" class="send-message profile-btn">
                                        Send a message
                                    </a>
                                
                                    <!-- Type of button to add to friends -->
                                    {% if data.is_friend == False and data.is_self == False %}
                                    <!-- You sent them -->
                                    {% if data.request_sent == 1 %}
                                        <a type="button" href="#" onclick='triggerCancelFriendRequest("{{data.pending_friend_request_id}}")' class="add-friends profile-btn">
                                            <i class="fa-solid fa-user-large-slash"></i> Cancel Friend Request
                                        </a>
                                    
                                    <!-- Them sent you -->
                                    {% elif data.request_sent == 0 %}
                                            
                                        <span id="id_confirm_{{data.pending_friend_request_id.sender.id}}" 
                                            class="confirm-friend-request material-icons p-1" 
                                            onclick='triggerAcceptFriendRequest("{{data.pending_friend_request_id}}")'>
                                            
                                            <a type="button" href="#" class="add-friends profile-btn">
                                                <i class="fa-solid fa-user-clock"></i> Access Friend Request
                                            </a>
                                        </span>
                                        
                                    <!-- No request have been sent -->
                                    {% elif data.request_sent == -1 %}
                                        <a type="button" href="#" class="add-friends profile-btn" id="id_send_friend_request">
                                            <i class="fa-solid fa-user-plus"></i> Add to friends
                                        </a>

                                    {% endif %}
                                
                                {% elif data.is_friend %}
                                <div class="avatar"></div>
                                <div class="dropdown dropdown-profile">
                                    <button class="dropbtn dropbtn-profile"><i class="fa-solid fa-sliders"></i></button>
                                    <div class="dropdown-content">
                                    <a href="{% url 'settings' %}"><i class="fa-solid fa-gears"></i> Settings</a>
                                    <a href="{% url 'log_out' %}"><i class="fa-solid fa-arrow-right-from-bracket danger-icon"></i> Log out</a>
                                    </div>
                                </div>

                                    <a type="button" href="#" class="add-friends profile-btn" id="id_unfriend_btn">
                                        <i class="fa-solid fa-user-check"></i> Unfriend (Добавить дроупдаун) - FRIENDS
                                    </a>

                                {% endif %}
                                    
                                    <!-- <a type="button" href="#" class="add-friends profile-btn">
                                        Add to friends
                                    </a>  -->

                                </div> 
                                
                            </div>
                            <a class="url_go_to text-center url_user" href="{% url 'profile_user' user_name=user.username %}">
                                <i class="fa-solid fa-cloud-arrow-up"></i>
                                Go to {{user}}
                            </a>

                        </div>

                 
                </div>

            </div>
    
        <script>PopUpHide('{{user}}');</script>
        {% endif %}
    {% endfor %}

<script type="text/javascript">
    
    function execute(){
        var query = document.getElementById("search").value()

        window.location.replace("{% url 'all_users' %}?search="+query)
        
        return false
    }

    

</script>

{% include "friend/snippets/friend_events.html" with show=True  user_object=window.currentUser.name %}
{% include "friend/snippets/send_friend_request.html" %}
{% include "friend/snippets/accept_friend_request.html" %}
{% include "friend/snippets/remove_friend.html" %}
{% include 'friend/snippets/cancel_friend_request.html' %}


{% endblock %}