{% extends "discussions/base.html" %}

{% load blog_tags %}

{% block title %}Own Post{% endblock %}

{% block content_blog %}

<!-- Script Like & Favourites -->

{% include "discussions/like_favourite.html" %}

<div>
    {% for message in messages %}
            
        {% if message.tags == 'alert-success' %}
            <h5 class="warning-message"><i class="wave-icon fa-solid fa-circle-dot"></i> {{ message }}</h5>

        {% else %}
            <h5 class="warning-message"><i class="success-icon fa-solid fa-circle-check"></i>  {{ message }}</h5>

        {% endif %}

    {% endfor %}
</div>

<!-- Post model -->
{% include "discussions/post_model.html" with post=discussion_detail comments=True %}

{% endblock %}