{% extends "discussions/base.html" %}

{% block title %}Posts{% endblock %}

{% block content_blog %}


<!-- Script Like & Favourites -->

{% include "discussions/like_favourite.html" %}

<div>   

    {% for message in messages %}
        
        {% if message.tags == 'alert-success' %}
            <h5 class="warning-message"><i class="wave-icon fa-solid fa-circle-dot"></i> {{ message }}</h5>

        {% else %}
            <h5 class="warning-message"><i class="success-icon fa-solid fa-circle-check"></i>  {{ message }}</h5>

        {% endif %}

    {% endfor %}

</div>

<div class="notifications">
   
    <input type="radio" id="radio-notifications" name="tabs" onclick="location.href = '{% url 'notifications_user' %}';" />

    <label class="tab" for="radio-notifications"><i class="fa-solid fa-bell"></i> Notifications<span class="notification">{{ user.profile.all.0.get_amount_notifications }}</span></label>
</div>

{% if all_posts|length > 0 %}

    {% for post in all_posts %}
        <!-- Post model -->
        {% include "discussions/post_model.html" with post=post comments=False %}
    {% endfor %}

{% else %}

    <h3 class="title">We haven't got any post...</h3>
    
{% endif %}


{% endblock %}
