{% load blog_tags %}


<!-- GET POST, COMMENTS, LINK -->
<div class="post alert alert-info col-11">
    <div class="box col-5">
        <div class="">
            <a href="{% url 'profile_user' user_name=post.author.username %}">
                <img src="{{ post.author.profile.all.0.profile_img.url }}" alt="None" class="img-posts-feed">       
            </a>             
        </div>
        <div class="">
            <a href="{% url 'profile_user' user_name=post.author.username %}">
                <p class="author">{{ post.author }}</p>
            </a>
        </div>
    </div>
    <h3 class="title col-12">{{ post.title }}</h3>
    
    <!-- <h1>{{post.author.profile}}</h1>
    {% for comm in post.author.profile.all %}         
       <p>{{ comm.bio }}</p>      
    {% endfor %}
    <h2>awd{{post.author.profile.all.0.profile_img}}</h2> -->

    {% if post.image %}
        
        <a href="{{ post.image.url }}" class="">
            <img src="{{ post.image.url }}" alt="None" class="post-image">
        </a>
 
    {% endif %}
    <div class="content col-5">@{{ post.author }}: {{ post.content|safe }}</div><br>

    <p class="date col-12">{{ post.date_created }}</p><br>

  
    <div class="py-3 px-4 space-y-3 box"> 
        {% was_liked user post.id as liked %}         
        <div id="{{ post.id }}{{ category }}"
        data-type="post"
        data-id="{{ post.id }}" 
        data-action="like" 
        data-category="{{ category }}" 
        class="flex space-x-4 lg:font-bold data-likes text-center {% if liked %} was_liked {% endif%} col-4 ">
            <a href="">
                <div class="p-2 rounded-full text-black " >
                <!-- <span class="glyphicon glyphicon-star">Count: </span> -->
                <!-- <span data-count="like">{{ post.amount_of_likes }}</span> -->
                
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                        <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                    </svg>
                    
                    <p>Liked by </p>
                    <p data-count="like">{{post.amount_of_likes}}</p>
                    <p>people</p>
                </div>   
             </a>
        </div>

        <div class="data-comm text-center col-4">

            <a href="{% url 'discussions_detail' pk=post.pk %}">
                <div class="p-2 rounded-full text-black " >
                    <i class="fa-solid fa-comment-dots comment-icon"></i>
                    {% if post.amount_of_comments == 0 %}
                    <p>No Comments</p>
                    {% elif post.amount_of_comments == 1 %}
                    <p>Commented by {{post.amount_of_comments}} person</p>
                    {% else %}
                    <p>Commented by {{post.amount_of_comments}} people</p>
                    {% endif %}
                </div>  
            </a>

        </div>
 
        <div data-id="{{ post.id }}" data-type="post" data-action="bookmark" title="Favourite" 
        class="data-save {% if favorites %} data-save-profile {% endif %} text-center col-4 ">
            <a href="">
                <span class="glyphicon glyphicon-star"><i class="fa-solid fa-bookmark"></i> </span>
                <span data-count="bookmark">{{ post.get_bookmark_count }}</span>
            </a>
        </div>

    </div>

    {% if comments %}
    
        {% for comm in post.comments_post.all %}

        <div class="comment_by_user box">

            <div class="">
                <a href="{% url 'profile_user' user_name=comm.author %}">
                    <img src="{{ comm.author.profile.all.0.profile_img.url }}" alt="None" class="img-profile-comm">
                </a>
            </div>

            <div>
                <a href="{% url 'profile_user' user_name=comm.author.username %}">
                    <h4 class="comm-user">{{ comm.author }}</h4>
                </a>

                <p class="comm-text">{{ comm }}</p><br><br>

                <p class="comm-date">{{ comm.create_date }}</p>
            </div> 
            {% was_liked_comm user comm.id as liked_comm %}

            <div class="py-3 px-4 space-y-3 box"> 
                            
                <div data-type="comment" data-id="{{ comm.id }}" data-action="like" id="comm{{comm.id}}"
                class="flex space-x-4 lg:font-bold comm-like text-center {% if liked_comm %} was_liked {% endif%}">
                    <a href="">
                        <div class="p-2 rounded-full text-black " >
                        
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                            </svg>
                            
                            <p data-count="like">{{comm.amount_of_likes}}</p>
                        
                        </div>   
                    </a>
                </div>
            </div>
        </div>
    
        {% endfor %}

    {% elif link %}

        <a class="url_go_to text-center" href="{% url 'discussions_detail' pk=post.pk %}"><i class="fa-solid fa-cloud-arrow-up"></i> Go to Post</a>

    {% else %}
    <div class="box text-center">
        
        <form action="{% url 'discussions_detail' pk=post.id %}" method="POST" enctype="multipart/form-data">
            <div class="col-1">
                <img src="{{ user.profile.all.0.profile_img.url }}" alt="None" class="img-posts-feed image-comment">            
            </div>

            {% csrf_token %}
    
            <div class="col-9">

                {{ form }}

            </div>

            <div class="">
                <input type="submit" value="SEND" class="btn btn-send"><br>
            </div>
        </form>
        
    </div>  
    {% endif %}

    
</div>