{% extends "discussions/base.html" %}

{% block title %}Profile {{ user_profile.user.username }}{% endblock %}

{% block content_blog %}

<!-- Script Like & Favourites -->

{% include "discussions/like_favourite.html" %}

<div>   
  
    {% for message in messages %}
        
        {% if message.tags == 'alert-success' %}
            <h5 class="warning-message"><i class="wave-icon fa-solid fa-circle-dot"></i> {{ message }}</h5>

        {% elif message.tags == 'alert-error' %}
            <h5 class="warning-message"><i class="danger-icon fa-solid fa-triangle-exclamation"></i> {{ message }}</h5>

        {% else %}
            <h5 class="warning-message"><i class="success-icon fa-solid fa-circle-check"></i>  {{ message }}</h5>

        {% endif %}

    {% endfor %}

</div>
<br>
<div class="avatar ">
    <!-- DropDown -->
    
    <!-- <p>
        <a href="{{ user_profile.profile_img.url }}">
            <img src="{{ user_profile.profile_img.url }}" alt="None" class="img-user">
        </a>

    <h3 class="name-user">{{ user_profile.user.username }}</h3>
    
    <h2 class="bio">{{ user_profile.bio }}</h2>

    </p> -->

    <!-- <p>
        <a href="{{ user_profile.profile_img.url }}">
            <img src="{{ user_profile.profile_img.url }}" alt="None" class="img-user">
        </a>

        <a class="name-user">{{ user_profile.user.username }}</a>
        <br><a class="bio-user">{{ user_profile.bio }}</a>
    </p> -->

    <div class="container">
        is_self{{is_self}}
        is_friend{{is_friend}}
        friends{{friends}}
        request_sent{{request_sent}}
        friend_requests{{friend_requests}}
        pending_friend_request_id{{pending_friend_request_id}}
        
        <div class="box col-12">
            <!-- <div class="img-profile">
                <a href="{{ user_profile.profile_img.url }}">
                    <img src="{{ user_profile.profile_img.url }}" alt="None" class="img-user">
                </a>
            </div> -->

            <a href="{{ user_profile.profile_img.url }}">
                <div class="box-image ">
                        <div class="content-image">
                                <img src="{{ user_profile.profile_img.url }}" alt="None" class="img-user">
                        </div>
                </div>
            </a>
            
            <div class="box-info-user col-3">
                <h3 class="name-user">{{ user_profile.user.username }}</h3>
                <h2 class="bio">{{ user_profile.bio }}</h2>
            
                <a type="button" href="{% url 'create_conversation' user_id=user_object.id %}" class="send-message profile-btn">
                    Send a message
                </a>
                <!-- Type of button to add to friends -->
                {% if is_friend == False and is_self == False %}
                    <!-- You sent them -->
                    {% if request_sent == 1 %}
                        <a type="button" href="#" onclick='triggerCancelFriendRequest("{{pending_friend_request_id}}")' class="add-friends profile-btn">
                            <i class="fa-solid fa-user-large-slash"></i> Cancel Friend Request
                        </a>
                    
                    <!-- Them sent you -->
                    {% elif request_sent == 0 %}
                            
                        <span id="id_confirm_{{pending_friend_request_id.sender.id}}" 
                            class="confirm-friend-request material-icons p-1" 
                            onclick='triggerAcceptFriendRequest("{{pending_friend_request_id}}")'>
                            
                            <a type="button" href="#" class="add-friends profile-btn">
                                <i class="fa-solid fa-user-clock"></i> Access Friend Request
                            </a>
                        </span>
                        
                    <!-- No request have been sent -->
                    {% elif request_sent == -1 %}
                        <a type="button" href="#" class="add-friends profile-btn" id="id_send_friend_request">
                            <i class="fa-solid fa-user-plus"></i> Add to friends
                        </a>

                    {% endif %}
                
                {% elif is_friend %}
                <div class="avatar"></div>
                <div class="dropdown dropdown-profile">
                    <button class="dropbtn dropbtn-profile"><i class="fa-solid fa-sliders"></i></button>
                    <div class="dropdown-content">
                      <a href="{% url 'settings' %}"><i class="fa-solid fa-gears"></i> Settings</a>
                      <a href="{% url 'log_out' %}"><i class="fa-solid fa-arrow-right-from-bracket danger-icon"></i> Log out</a>
                    </div>
                </div>

                    <a type="button" href="#" class="add-friends profile-btn" id="id_unfriend_btn">
                        <i class="fa-solid fa-user-check"></i> Unfriend (Добавить дроупдаун) - FRIENDS
                    </a>

                {% endif %}
                   
            </div> 
            
        </div>

        <div class="followers">
            {% if friend_requests %}
                <hr>
                <div class="list-friends">
                    <i class="fa-solid fa-users-line"></i>
                    <p>{{friend_requests|length}}</p>
                    {% if friend_requests|length == 0 %}
                        <h3>follower</h3>
                    {% else %}
                        <h3>follower</h3>
                    {% endif %}
                    
                </div>
                <hr>
            {% endif %}
        </div>

        <div class="friends">
            {% if friends %}

                {% if friends|length == 1 %}
                    <h3>1 FRIEND</h3>
                {% else %}
                    <h3>FRIENDS {{friends|length}}</h3>
                    <p>Mutual</p>
                {% endif %}

            {% endif %}

            {% for friend in friends %}
                <div class="user-friend-profile text-center">

                    <a href="{% url 'profile_user' user_name=friend.username %}">
                        <img src="{{friend.profile.first.profile_img.url}}" alt="None" class="img-profile-comm">
                    </a>

                    <h4>{{friend.username}}</h4>

                </div>
            {% endfor %}
        </div>
        
    </div>

</div>

<hr>

{% if user_posts_length  > 0 %}
    {% for post in user_posts %}

        <!-- Post model -->
        {% include "discussions/post_model.html" with post=post comments=False %}

    {% endfor %}

{% else %}

<h3 class="title no-posts">{{user_object}} haven't any post...</h3>

{% endif %}

{% include "friend/snippets/friend_events.html" %}
{% include "friend/snippets/send_friend_request.html" %}
{% include "friend/snippets/accept_friend_request.html" %}
{% include "friend/snippets/remove_friend.html" %}
{% include 'friend/snippets/cancel_friend_request.html' %}

{% endblock %}
