{% extends "discussions/base.html" %}

{% block title %}Profile{% endblock %}

{% block content_blog %}

<script>
    
    function to_bookmarks()
    {
        var current = $(this);
        var type = current.data('type');
        var pk = current.data('id');
        var action = current.data('action');
     
        $.ajax({
            url : type + "/" + pk + "/" + action + "/",       
            type : 'POST',
            data : { 'obj' : pk },
     
            success : function (json) {
                current.find("[data-count='" + action + "']").text(json.count);
            }
        });
     
        return false;
    }

    function to_likes()
    {
        var current = $(this);
        var type = current.data('type');
        var pk = current.data('id');
        var action = current.data('action');
     
        $.ajax({
            url : type + "/" + pk + "/" + action + "/",
            type : 'POST',
            data : { 'obj' : pk },
     
            success : function (json) {
                current.find("[data-count='" + action + "']").text(json.count);
            }
        });
     
        return false;
    }

     
    // Подключение обработчика

    
    $(function() {
            // В избранное
        $('[data-action="bookmark"]').click(to_bookmarks);
            // Лайк
        $('[data-action="like"]').click(to_likes);
    });

    
    
</script>

<div class="avatar">
    
    <!-- DropDown -->
    <div class="dropdown dropdown-profile" style="float:right;">
        <button class="dropbtn dropbtn-profile"><i class="fa-solid fa-sliders"></i></button>
        <div class="dropdown-content">
          <a href="#"><i class="fa-solid fa-user-group"></i> Friends</a>
          <a href="#"><i class="fa-solid fa-bookmark"></i> Favourites</a>
          <a href="{% url 'settings' %}"><i class="fa-solid fa-gears"></i> Settings</a>
          <a href="{% url 'log_out' %}"><i class="fa-solid fa-arrow-right-from-bracket danger-icon"></i> Log out</a>
        </div>
    </div>
    <div class="container">

        <div class="box">
            
            <div class="img-profile">
                <a href="{{ user_profile.profile_img.url }}">
                    <img src="{{ user_profile.profile_img.url }}" alt="None" class="img-user">
                </a>
            </div>
            
            <div>
                <h3 class="name-user">{{ user_profile.user.username }}</h3>
                <h2 class="bio">{{ user_profile.bio }}</h2>
            </div> 
            
        </div>

    </div>
    
    <div class="b-container activity"> 

        <a href="javascript:PopUpShow1st()">Here You Can See Your Activity</a>
    
    </div>
    
    <div class="b-popup" id="popup1">
        <!-- ALL POSTS -->

        <div class="close-btn text-center">
            <a href="javascript:PopUpHide()"><i class="fa-solid fa-xmark"></i> Close</a>
        </div>

        <div class="b-popup-content">

            {% if blog_post_user_list|length > 0 %}
            {% for post in blog_post_user_list %}
                <div class="post alert alert-info">
                    <!-- DropDown -->
                    <div class="dropdown" style="float:right;">
                        <button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
                        <div class="dropdown-content">
                          <a href="#"><i class="fa-solid fa-download"></i> Save</a>
                          <a href="#"><i class="fa-solid fa-share-from-square"></i> Share</a>
                          <a href="#"><i class="fa-solid fa-file-pen"></i> Edit</a>
                          <a href="#"><i class="fa-solid fa-trash-can danger-icon"></i> Delete</a>
                        </div>
                    </div>
                    
                    <div class="box">
                        <div class="">
                            <a href="{% url 'profile_user' user_name=post.author.username %}">
                                <img src="{{ post.author.profile.all.0.profile_img.url }}" alt="None" class="img-profile-comm">
                            </a>
                        </div>
                        <div class="">
                            <a href="{% url 'profile_user' user_name=post.author.username %}">
                                <p class="author">{{ post.author }}</p>
                            </a>
                        </div>
                    </div>
        
                    <h3 class="title">{{ post.title }}</h3>
                    {% if post.image %}
                        <a href="{{ post.image }}">
                            <img src="{{ post.image.url }}" alt="None" class="post-image">
                        </a>
                    {% endif %}

                    <div class="content">@{{ post.author }}: {{ post.content|safe }}</div><br>
        
                    <p class="date">{{ post.date_created }}</p><br>
                    
                    <div class="py-3 px-4 space-y-3 box"> 
                                       
                        <div data-type="post" data-id="{{ post.id }}" data-action="like" class="flex space-x-4 lg:font-bold data-likes text-center">
                            <a href="">
                                <div class="p-2 rounded-full text-black " >
                                <!-- <span class="glyphicon glyphicon-star">Count: </span> -->
                                <!-- <span data-count="like">{{ post.amount_of_likes }}</span> -->
                                
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                        <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                    </svg>
                                    
                                    <!-- {% if post.amount_of_likes == 0 %}
                                    <p>No likes</p>
                                    
                                    {% elif post.amount_of_likes == 1 %}
                                    
                                    <p>Liked by {{post.amount_of_likes}} person</p>
                                    <p data-count="like"></p>
                                    
                                    {% else %}
                                    <p data-count="like">Liked by {{post.amount_of_likes}} people</p>
                                    
                                    {% endif %} -->
                                    
                                    <p>Liked by </p>
                                    <p data-count="like">{{post.amount_of_likes}}</p>
                                    <p>people</p>
                                </div>   
                             </a>
                        </div>
        
                        <div class="data-comm text-center">
        
                            <a href="{% url 'discussions_detail' pk=post.pk %}">
                                <div class="p-2 rounded-full text-black " >
                                    <i class="fa-solid fa-comment-dots comment-icon"></i>
                                    {% if post.amount_of_comments == 0 %}
                                    <p>No Comments</p>
                                    {% elif post.amount_of_comments == 1 %}
                                    <p>Commented by {{post.amount_of_comments}} person</p>
                                    {% else %}
                                    <p>Commented by {{post.amount_of_comments}} people</p>
                                    {% endif %}
                                </div>  
                            </a>
        
                        </div>
                     
                        <div data-id="{{ post.id }}" data-type="post" data-action="bookmark" title="Favourite" class="data-save data-save-profile text-center">
                            <a href="">
                                <span class="glyphicon glyphicon-star"><i class="fa-solid fa-bookmark"></i> </span>
                                <span data-count="bookmark">{{ post.get_bookmark_count }}</span>
                            </a>
                            
                        </div>
                    </div>
                    <a class="url_go_to text-center" href="{% url 'discussions_detail' pk=post.pk %}"><i class="fa-solid fa-cloud-arrow-up"></i> Go to Post</a>

                </div>
            {% endfor %}
        
        {% else %}
        
        <h3 class="title">You haven't got any post...</h3>
        
        {% endif %}

        </div>  

    </div>

    <div class="b-container likes"> 

        <a href="javascript:PopUpShow2nd()">Take a look at the posts you liked</a>
    
    </div>
    
    <div class="b-popup" id="popup2">

        <div class="close-btn text-center">
            <a href="javascript:PopUpHide()"><i class="fa-solid fa-xmark"></i> Close</a>
        </div>

        <div class="b-popup-content">

            <!-- POSTS -->
            <div class="b-container likes-nesting-1"> 

                <a href="javascript:PopUpShow2ndPosts()">Posts</a>
            
            </div>

            <div class="b-popup b-popup-nesting" id="PopUpShow2ndPosts">
        
                <div class="b-popup-content">
                    {% if like_post_user_list|length > 0 %}
                        {% for post in like_post_user_list %}
                        <div class="post alert alert-info">
                            <div class="box">
                                <div class="">
                                    <a href="{% url 'profile_user' user_name=post.obj.author.username %}">
                                        <img src="{{ post.obj.author.profile.all.0.profile_img.url }}" alt="None" class="img-posts-feed">
                                        
                                    </a>
                                                
                                </div>
                                <div class="">
                                    <a href="{% url 'profile_user' user_name=post.obj.author.username %}">
                                        <p class="author">{{ post.obj.author }}</p>
                                    </a>
                                </div>
                            </div>
                            <h3 class="title">{{ post.obj.title }}</h3>
                    
                            {% if post.obj.image %}

                                <a href="{{ post.obj.image.url }}">
                                    <img src="{{ post.obj.image.url }}" alt="None" class="post-image">
                                </a>
                            
                            {% endif %}
                                
                                <div class="content">@{{ post.obj.author }}: {{ post.obj.content|safe }}</div><br>
                    
                                <p class="date">{{ post.obj.date_created }}</p><br>
                                
                                <div class="py-3 px-4 space-y-3 box"> 
                                                
                                    <div data-type="post" data-id="{{ post.obj.id }}" data-action="like" class="flex space-x-4 lg:font-bold data-likes text-center">
                                        <a href="">
                                            <div class="p-2 rounded-full text-black " >
                                            <!-- <span class="glyphicon glyphicon-star">Count: </span> -->
                                            <!-- <span data-count="like">{{ post.amount_of_likes }}</span> -->
                                            
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                                    <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                                </svg>
                                                
                                                <!-- {% if post.amount_of_likes == 0 %}
                                                <p>No likes</p>
                                                
                                                {% elif post.amount_of_likes == 1 %}
                                                
                                                <p>Liked by {{post.amount_of_likes}} person</p>
                                                <p data-count="like"></p>
                                                
                                                {% else %}
                                                <p data-count="like">Liked by {{post.amount_of_likes}} people</p>
                                                
                                                {% endif %} -->
                                                
                                                <p>Liked by </p>
                                                <p data-count="like">{{post.obj.amount_of_likes}}</p>
                                                <p>people</p>
                                            </div>   
                                        </a>
                                    </div>
                    
                                    <div class="data-comm text-center">
                    
                                        <a href="{% url 'discussions_detail' pk=post.pk %}">
                                            <div class="p-2 rounded-full text-black " >
                                                <i class="fa-solid fa-comment-dots comment-icon"></i>
                                                {% if post.obj.amount_of_comments == 0 %}
                                                <p>No Comments</p>
                                                {% elif post.obj.amount_of_comments == 1 %}
                                                <p>Commented by {{post.obj.amount_of_comments}} person</p>
                                                {% else %}
                                                <p>Commented by {{post.obj.amount_of_comments}} people</p>
                                                {% endif %}
                                            </div>  
                                        </a>
                    
                                    </div>
                                
                                    <div data-id="{{ post.obj.id }}" data-type="post" data-action="bookmark" title="Favourite" class="data-save data-save-profile text-center">
                                        <a href="">
                                            <span class="glyphicon glyphicon-star"><i class="fa-solid fa-bookmark"></i> </span>
                                            <span data-count="bookmark">{{ post.obj.get_bookmark_count }}</span>
                                        </a>
                                        
                                    </div>
                                </div>

                                <a class="url_go_to text-center" href="{% url 'discussions_detail' pk=post.obj.pk %}"><i class="fa-solid fa-cloud-arrow-up"></i> Go to Post</a>

                            </div>
                        {% endfor %}
                    
                    {% else %}
                    
                    <h3 class="title">You haven't got any like post...</h3>
                    
                    {% endif %}
                </div>
                
            </div>

            <!-- COMMENTS -->
            <div class="b-container likes-nesting-2"> 

                <a href="javascript:PopUpShow2ndComments()">Comments</a>
            
            </div>

            <div class="b-popup b-popup-nesting" id="PopUpShow2ndComments">
                <br>
                {% if like_comm_user_list|length >= 1 %}
                {% for comm in like_comm_user_list %}
                    <br>
                    <div class="comment_by_user box">

                        <div class="">
                            <a href="{% url 'profile_user' user_name=comm.obj.author %}">
                                <img src="{{ comm.obj.author.profile.all.0.profile_img.url }}" alt="None" class="img-profile-comm">
                            </a>
                        </div>

                        <div>
                            <a href="{% url 'profile_user' user_name=comm.obj.author %}">
                                <h4 class="comm-user">{{ comm.obj.author }}</h4>
                            </a>

                            <p class="comm-text">{{ comm.obj.content }}</p><br><br>

                            <p class="comm-date">{{ comm.obj.create_date }}</p>
                        </div> 

                        <div class="py-3 px-4 space-y-3 box"> 
                                        
                            <div data-type="comment" data-id="{{ comm.obj.id }}" data-action="like" class="flex space-x-4 lg:font-bold comm-like text-center">
                                <a href="">
                                    <div class="p-2 rounded-full text-black " >
                                    
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                            <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                        </svg>
                                        
                                        <p data-count="like">{{comm.obj.amount_of_likes}}</p>
                                    
                                    </div>   
                                </a>
                            </div>
                        </div>
                        
                        <a class="url_go_to text-center" href="{% url 'discussions_detail' pk=comm.obj.pk %}"><i class="fa-solid fa-cloud-arrow-up"></i> Go to Post</a>
                      
                    </div>
                    
                
                {% endfor %}
                {% else %}
                    <h3 class="title">You haven't liked a single comment...</h3>
                {% endif %}
                
                <div class="b-popup-content">
                    
                </div>
                
            </div>
            
        </div>

    </div>


    <div class="b-container favourites"> 

        <a href="javascript:PopUpShow3rd()">Favourites</a>
    
    </div>
    
    <div class="b-popup" id="popup3">

        <div class="close-btn text-center">
            <a href="javascript:PopUpHide()"><i class="fa-solid fa-xmark"></i> Close</a>
        </div>

        <div class="b-popup-content">
            {% if favourite_post_user_list|length > 0 %}
            {% for post in favourite_post_user_list %}
            <div class="post alert alert-info">
                <div class="box">
                    <div class="">
                        <a href="{% url 'profile_user' user_name=post.obj.author.username %}">
                            <img src="{{ post.obj.author.profile.all.0.profile_img.url }}" alt="None" class="img-posts-feed">
                            
                        </a>
                                     
                    </div>
                    <div class="">
                        <a href="{% url 'profile_user' user_name=post.obj.author.username %}">
                            <p class="author">{{ post.obj.author }}</p>
                        </a>
                    </div>
                </div>
                <h3 class="title">{{ post.obj.title }}</h3>
        
                {% if post.obj.image %}

                    <a href="{{ post.obj.image.url }}">
                        <img src="{{ post.obj.image.url }}" alt="None" class="post-image">
                    </a>
                
                {% endif %}
                    
                    <div class="content">@{{ post.obj.author }}: {{ post.obj.content|safe }}</div><br>
        
                    <p class="date">{{ post.obj.date_created }}</p><br>
                    
                    <div class="py-3 px-4 space-y-3 box"> 
                                       
                        <div data-type="post" data-id="{{ post.obj.id }}" data-action="like" class="flex space-x-4 lg:font-bold data-likes text-center">
                            <a href="">
                                <div class="p-2 rounded-full text-black " >
                                <!-- <span class="glyphicon glyphicon-star">Count: </span> -->
                                <!-- <span data-count="like">{{ post.amount_of_likes }}</span> -->
                                
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                        <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                    </svg>
                                    
                                    <!-- {% if post.amount_of_likes == 0 %}
                                    <p>No likes</p>
                                    
                                    {% elif post.amount_of_likes == 1 %}
                                    
                                    <p>Liked by {{post.amount_of_likes}} person</p>
                                    <p data-count="like"></p>
                                    
                                    {% else %}
                                    <p data-count="like">Liked by {{post.amount_of_likes}} people</p>
                                    
                                    {% endif %} -->
                                    
                                    <p>Liked by </p>
                                    <p data-count="like">{{post.obj.amount_of_likes}}</p>
                                    <p>people</p>
                                </div>   
                             </a>
                        </div>
        
                        <div class="data-comm text-center">
        
                            <a href="{% url 'discussions_detail' pk=post.pk %}">
                                <div class="p-2 rounded-full text-black " >
                                    <i class="fa-solid fa-comment-dots comment-icon"></i>
                                    {% if post.obj.amount_of_comments == 0 %}
                                    <p>No Comments</p>
                                    {% elif post.obj.amount_of_comments == 1 %}
                                    <p>Commented by {{post.obj.amount_of_comments}} person</p>
                                    {% else %}
                                    <p>Commented by {{post.obj.amount_of_comments}} people</p>
                                    {% endif %}
                                </div>  
                            </a>
        
                        </div>
                     
                        <div data-id="{{ post.obj.id }}" data-type="post" data-action="bookmark" title="Favourite" class="data-save data-save-profile text-center">
                            <a href="">
                                <span class="glyphicon glyphicon-star"><i class="fa-solid fa-bookmark"></i> </span>
                                <span data-count="bookmark">{{ post.obj.get_bookmark_count }}</span>
                            </a>
                            
                        </div>
                    </div>
                    <a class="url_go_to text-center" href="{% url 'discussions_detail' pk=post.obj.pk %}"><i class="fa-solid fa-cloud-arrow-up"></i> Go to Post</a>

                </div>
            {% endfor %}
        
        {% else %}
        
        <h3 class="title">You haven't got any favourite post...</h3>
        
        {% endif %}
        </div>

        
    </div>
    <div class="b-container settings"> 

        <a href="javascript:PopUpShow4th()">Settings</a>
    
    </div>
    
    <div class="b-popup" id="popup4">

        <div class="close-btn text-center">
            <a href="javascript:PopUpHide()"><i class="fa-solid fa-xmark"></i> Close</a>
        </div>

        <div class="b-popup-content">
            <div class="container m-auto"> 

                <!-- <ul class="mt-5 -mr-3 flex-nowrap lg:overflow-hidden overflow-x-scroll uk-tab">
                    <li class="uk-active"><a href="#">General</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Notification</a></li>
                    <li><a href="#">Social links</a></li>
                    <li><a href="#">Billing</a></li>
                    <li><a href="#">Security</a></li>
                </ul> -->
                <br>
                <div class="grid lg:grid-cols-3 mt-12 gap-8 ">
        
                    <div class="rounded-md lg:shadow-lg shadow col-span-2">
                        
                    <form action="" method="POST" class="data-settings" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">

                            <div class="col-span-2">
                                <label for=""> Profile Image</label>
                                <img width="100" height="100" src="{{user_profile.profile_img.url}}" />
                                <input type="file" name="image" value="" class="shadow-none input-save">
                            </div>
                            
                            <div class="col-span-2">
                                <label for="about">Bio</label>  
                                <textarea id="about" placeholder="Write a little about yourself..." name="bio" rows="3"  class="shadow-none settings-field">{{user_profile.bio}}</textarea>
                            </div> 
                            
                            <div class="col-span-2">
                                <label for=""> Location</label>
                                <input placeholder="Write country are you in..." type="text" name="location" value="{{user_profile.location}}" class="shadow-none settings-field">
                            </div>
                            
                        </div> 
        
                        <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                            <button type="submit" class="button bg-blue-700 btn-save-settings"> Save </button>
                        </div>
                    </form>
        
                    </div>
        
                </div>
                <br>
        
            </div>
        </div>
    </div>

    <div class="b-container account text-center"> 

        <a href="javascript:PopUpShow5th()">Account</a>
    
    </div>

    <div class="b-popup" id="popup5">

        <div class="close-btn text-center">
            <a href="javascript:PopUpHide()"><i class="fa-solid fa-xmark"></i> Close</a>
        </div>

        <div class="b-popup-content">

            <div class="option">
                <a href="{% url 'log_out' %}"><i class="fa-solid fa-arrow-right-from-bracket danger-icon"></i> Log out</a>
            </div>

            <div class="option">
                <a href="{% url 'sign_up' %}"><i class="fa-solid fa-users just-icon"></i>&nbsp; Register</a>
            </div>

            <div class="option">
                <a href="{% url 'sign_in' %}"><i class="fa-solid fa-arrow-right-to-bracket success-icon"></i>&nbsp; Log in</a>
            </div>

        </div>

    </div>

<hr>

<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>

<script>
    $(document).ready(function(){
        //Скрыть PopUp при загрузке страницы    
        PopUpHide();
    });
    //Функция отображения PopUp
    function PopUpShow1st(){
        $("#popup1").show();

        $("#popup2").hide();
        $("#popup3").hide();
        $("#popup4").hide();
        $("#popup5").hide();
        $("#PopUpShow2ndPosts").hide();
        $("#PopUpShow2ndComments").hide();
    }

    function PopUpShow2nd(){
        $("#popup2").show();

        $("#popup1").hide();
        $("#popup3").hide();
        $("#popup4").hide();
        $("#popup5").hide();
        $("#PopUpShow2ndPosts").hide();
        $("#PopUpShow2ndComments").hide();
    }

    function PopUpShow2ndPosts() {
        $("#PopUpShow2ndPosts").show();

        $("#popup1").hide();
        $("#popup3").hide();
        $("#popup4").hide();
        $("#popup5").hide();
        $("#PopUpShow2ndComments").hide(); 
    }

    function PopUpShow2ndComments() {
        $("#PopUpShow2ndComments").show();

        $("#popup1").hide();
        $("#popup3").hide();
        $("#popup4").hide();
        $("#popup5").hide();
        $("#PopUpShow2ndPosts").hide();
    }

    function PopUpShow3rd(){
        $("#popup3").show();

        $("#popup1").hide();
        $("#popup2").hide();
        $("#popup4").hide();
        $("#popup5").hide();
        $("#PopUpShow2ndPosts").hide();
        $("#PopUpShow2ndComments").hide();
    }

    function PopUpShow4th(){
        $("#popup4").show();

        $("#popup1").hide();
        $("#popup2").hide();
        $("#popup3").hide();
        $("#popup5").hide();
        $("#PopUpShow2ndPosts").hide();
        $("#PopUpShow2ndComments").hide();
    }

    function PopUpShow5th(){
        $("#popup5").show();

        $("#popup1").hide();
        $("#popup2").hide();
        $("#popup3").hide();
        $("#popup4").hide();
        $("#PopUpShow2ndPosts").hide();
        $("#PopUpShow2ndComments").hide();
    }
    //Функция скрытия PopUp
    function PopUpHide(){
        $("#popup1").hide();
        $("#popup2").hide();
        $("#popup3").hide();
        $("#popup4").hide();
        $("#popup5").hide();
        $("#PopUpShow2ndPosts").hide();
        $("#PopUpShow2ndComments").hide();
    }
</script>

{% endblock %}