
{% extends 'templates_projects/base.html' %}

{% load static %}

{% block content %}


    <div id="wrapper" class="log_in">

        <!-- header-->
        <div class="">
            <div class="">


                <div class="">

                    <h1 class="name-site">SocialWave</h1>

                </div>
            </div>
        </div>

        <!-- Content-->
        <div>
            <div class="">

                <div>
                    
                    {% for message in messages %}
                    <h5 class="warning-message">{{message}}</h5>
                    {% endfor %}
                </div>


                <form action="" method="POST" class="form-logging">
                    <h3 class="process"> Log in</h3>
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" class="logging-input">
                    <input type="password" name="password" placeholder="Password" class="logging-input">
                    
                    <button type="submit" class="check-data">Login</button>
                    <div class="create-acc">
                        <p class="text-base"> Not registered? <a href="{% url 'sign_up' %}" class=""> Create an account </a></p>
                    </div>
                </form>

            </div>
        </div>
    

    </div>

    <script type="text/javascript" src="{% static 'discussions/script/background.js' %}"></script> 

{% endblock %}