{% extends "chat/base.html" %}

{% block title %}Chat{% endblock %}

{% load blog_tags %}  

{% block content_chat %}

<script>
    function ScrollToBottom(){
        const scroll_el = document.getElementById('message_last');
        scroll_el.scrollIntoView({behavior: "smooth"}, true);
    }  

    window.onload = function(){
        ScrollToBottom();
    }

</script>

<div class="container container-chat">
    {% if not chat %}
        <div class="panel panel-body">
            "Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе."
        </div>
    {% else %}
        {% load tz %}
        {% if chat %}
            {% if chat.type == "D" %}
                <div class="name-with-conversation">
                    <div class="box">
                        {% get_companion user chat as companion %}
                        
                        <div class="">
                            <a href="{% url 'home' %}">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                        </div>

                        <div class="">
                            <a href="{% url 'profile_user' user_name=companion %}">
                                <img src="{{ companion.profile.first.profile_img.url }}" alt="None" class="img-posts-feed img-chatting">  
                            </a>             
                        </div>
                        <div class="interlocutor">
                            <h3>{{companion}}</h3><br>
                            <p>{{companion.profile.first.bio}}</p>
                        </div>
                    </div>
    
                </div>
            {% else %}
            <a href="{% url 'group_settings' pk=chat.id %}">

                <div class="name-with-conversation">

                    <div class="box">
                        <div class="">
                            <i class="fa-solid fa-arrow-left"></i>
                        </div>

                        <div class=""> 
                            <img src="{{ chat.group.first.image.url }}" alt="None" class="img-posts-feed img-chatting">         
                        </div>
                        <div class="interlocutor">
                            <h3>{{chat.group.first.name}}</h3><br>
                            <p>{{chat.group.first.bio}}</p>
                        </div>
                    </div>
                
                </div>
            </a>
            {% endif %}
            <div id="messages" class="panel">
                <div class="text-center"> 
                    <!-- <h3>unread_1st - {{unread_1st}} </h3>    -->
                    {% if chat.message_set.all|length > 0 %}
                        {% for message in chat.message_set.all %}
                            
                            <p class="date-created-mess"
                            {% if unread_1st == message %} 
                                id="message_last" 
                            {% endif %}>
                                {{ message.date_created }}
                            </p>

                            {{user}} - {{message.author.profile.first}}

                            {% if message.author == user %}
                            <div class="">
                                <div class="mess-own-readable">
                                    {% if message.readable %} 
                                        <!-- Прочитано -->
                                        <i class="read-icon fa-solid fa-circle"></i>
                                    {% else %}
                                        <i class="unread-icon fa-solid fa-circle"></i>
                                        <!-- Непрочитано -->
                                    {% endif %}
                                </div>
                                <div class="container-messages own_message">  
                                    <h4 class="content-message">{{ message }}</h4>
                                    <p class="date-message">{% myDate message.date_created %}</p>
                                </div>
                                {% if chat.type == 'C' %}
                                    <a href="{% url 'profile_user' user_name=message.author.username %}">
                                        <img class="img-profile-comm" src="{{message.author.profile.first.profile_img.url}}" alt="Not Found">
                                    </a>
                                {% endif %}
                            </div>

                            {% else %}
                            <div class="">   
                                {% if chat.type == 'C' %}
                                    <a href="{% url 'profile_user' user_name=message.author.username %}">
                                        <img class="img-profile-comm" src="{{message.author.profile.first.profile_img.url}}" alt="Not Found">
                                    </a>
                                {% endif %}
                                <div class="container-messages other_message">
                                    <h4 class="content-message">{{ message }}</h4>
                                    <p class="date-message">{% myDate message.date_created %}</p>
                                </div>
                                <div class="mess-other-readable">
                                    {% if message.readable %} 
                                            <!-- Прочитано -->
                                            <i class="read-icon fa-solid fa-circle"></i>
                                    {% else %}
                                        <i class="unread-icon fa-solid fa-circle"></i>
                                        <!-- Непрочитано -->
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        
                    {% else %}
                        <div class="first-message">
                            {% if chat.type == 'D' %}
                                <p>Send First Message In This Chat</p> 
                            {% else %}
                                <p>Send First Message In This Group</p> 
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="message_form box text-center" id="form-sending">
            <form method="post">

                <div class="col-9">
                    {% csrf_token %}
                    {{ form }}
                </div>

                <div class="section-send">
                    <button type="submit" class="btn btn-send-message">
                        Send <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>

            </form>
        </div>
    {% endif %}
</div>

{% endblock %}