{% extends "chat/base.html" %}

{% block title %}Chat{% endblock %}

{% load blog_tags %}  

{% block content_chat %}
<div class="container container-chat">
    {% if not chat %}
        <div class="panel panel-body">
            "Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе."
        </div>
    {% else %}
        {% load tz %}
        {% if chat %}
        
            <div class="name-with-conversation">
                <div class="box">
                    {% get_companion user chat as companion %}
                    
                    <div class="">
                        <a href="{% url 'home' %}">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                    </div>

                    <div class="">
                        <a href="{% url 'profile_user' user_name=companion %}">
                            <img src="{{ companion.profile.first.profile_img.url }}" alt="None" class="img-posts-feed img-chatting">  
                        </a>             
                    </div>
                    <div class="interlocutor">
                        <h3>{{companion}}</h3><br>
                        <p>{{companion.profile.first.bio}}</p>
                    </div>
                </div>

                
            </div>

            <div id="messages" class="panel">
                <div class="text-center">     
                    {% if chat.message_set.all|length > 0 %}
                        {% for message in chat.message_set.all %}
                        
                            <p class="date-created-mess">
                                {{ message.date_created }}
                            </p>

                            {% if message.author == user %}
                            <div class="">
                                <div class="mess-own-readable">
                                    {% if message.readable %} 
                                        <!-- Прочитано -->
                                        <i class="read-icon fa-solid fa-circle"></i>
                                    {% else %}
                                        <i class="unread-icon fa-solid fa-circle"></i>
                                        <!-- Непрочитано -->
                                    {% endif %}
                                </div>
                                <div class="container-messages own_message">  
                                    <h4 class="content-message">{{ message }}</h4>
                                    <p class="date-message">{% myDate message.date_created %}</p>
                                </div>
                                
                            </div>

                            {% else %}
                            <div class="">   
                                <div class="container-messages other_message">
                                    <h4 class="content-message">{{ message }}</h4>
                                    <p class="date-message">{% myDate message.date_created %}</p>
                                </div>
                                <div class="mess-other-readable">
                                    {% if message.readable %} 
                                            <!-- Прочитано -->
                                            <i class="read-icon fa-solid fa-circle"></i>
                                    {% else %}
                                        <i class="unread-icon fa-solid fa-circle"></i>
                                        <!-- Непрочитано -->
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        
                    {% else %}
                        <div class="first-message">
                           <p>Send First Message In This Chat</p> 
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="message_form box text-center">
            <form method="post">

                <div class="col-9">
                    {% csrf_token %}
                    {{ form }}
                </div>

                <div class="section-send">
                    <button type="submit" class="btn btn-send-message">
                        Send <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>

            </form>
        </div>
    {% endif %}
</div>
{% endblock %}