{# https://github.com/tomitokko/django-chat-app #}

{% extends "chat/base.html" %}

{% block title %}Chats{% endblock %}

{% block content_chat %}

<div class="container container-chat">

    <!-- <h3>{{ name }}</h1> -->
    <h3 class="name-room">{{ room }}</h1>
    <!-- <h1>{{ room_details }}</h1> -->

    <div id="display">
        
    </div>

    {# печатает все сообщения #}
    <script>
        $(document).ready(function(){
        
        setInterval(function(){
            $.ajax({
                type: 'GET',
                url : "{% url 'getMessages' room=room %}",
                success: function(response){
                    //console.log(response);
                    $("#display").empty();
                    for (var key in response.messages)
                    {     
                        if (response.messages[key].user == $('#username').val()){
                          var class_name = 'own_message';
                          //alert("MY")
                          
                        } else {
                            var class_name = 'other_message';  
                            //alert("NOT MY")       
                        };
                                
                        //alert(class_name)

                        var temp=`<div class='container message ${class_name}'><b>`+
                            response.messages[key].user+"</b><p>"+
                            response.messages[key].value+
                            "</p><span class='time-left'>"+
                            response.messages[key].date+
                            "</span></div>";
                            
                        $("#display").append(temp);
                        
                    }
                },
                error: function(response){
                    alert('An error occured')
                }
            });
        },1000);
        })
        </script>

    <br>
    <form id="post-form">

        {% csrf_token %}

        <input type="hidden" name="username" id="username" value="{{name}}">
        <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}">
        <input type="text" name="message" id="message" class="form-control send-field" placeholder="Write your thoughts here:">
        <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
     
    </form>
         
    {# добавляется сообщения из input-а #}
    <script type="text/javascript">
        $(document).on('submit','#post-form',function(e){
        e.preventDefault();
        
        $.ajax({
            
            type:'POST',
            url:'{% url "send" %}',
            data:{
                username:$('#username').val(),
                room_id:$('#room_id').val(),
                message:$('#message').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(data){
            //alert(data)
            }
        });
        document.getElementById('message').value = ''
        });
    </script>

</div>
{% endblock %}