{% extends "discussions/base.html" %}

{% block title %}Posts{% endblock %}

{% block content_blog %}

<script>
    function show_comments_form(parent_comment_id){
        
        if (parent_comment_id == 'write_comment')
        {
            $("#id_parent_comment").val('')
        }
        else
        {
            $("#id_parent_comment").val(parent_comment_id);
        }
        $("#comment_form").insertAfter("#" + parent_comment_id);
    }
</script>

{% if all_posts|length > 0 %}

    {% for post in all_posts %}
        <div class="post alert alert-info">
            <div class="box">
                <div class="">
                    <a href="{% url 'profile_user' user_name=post.author.username %}">
                        <img src="{{ post.profile_user.profile_img.url }}" alt="None" class="img-posts-feed">
                    </a>
                </div>
                <div class="">
                    <a href="{% url 'profile_user' user_name=post.author.username %}">
                        <p class="author">{{ post.author }}</p>
                    </a>
                </div>
            </div>
            <h3 class="title">{{ post.title }}</h3>

            {% if post.image %}

                <a href="{{ post.image.url }}">
                    <img src="{{ post.image.url }}" alt="None" class="post-image">
                </a>
            
            {% endif %}
            <div class="content">@{{ post.author }}: {{ post.content|safe }}</div><br>

            <p class="date">{{ post.date_created }}</p><br>


            <div class="py-3 px-4 space-y-3"> 
                               
                <div class="flex space-x-4 lg:font-bold">
                    <a href="/like_post?post_id={{post.id}}" class="flex items-center space-x-2">
                        <div class="p-2 rounded-full text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                            </svg>
                            {% if post.amount_of_likes == 0 %}
                            <p>No likes</p>
                            {% elif post.amount_of_likes == 1 %}
                            <p>Liked by {{post.amount_of_likes}} person</p>
                            {% else %}
                            <p>Liked by {{post.amount_of_likes}} people</p>
                            {% endif %}
                        </div>  
                    </a>
                </div>

            </div>

            <div class="box text-center">
                <form action="{% url 'discussions_detail' pk=post.id %}" method="POST" enctype="multipart/form-data">
        
                    {% csrf_token %}
            
                    <div class="col-11 ">

                        {{ form }}
        
                    </div>
        
                    <div class="">
                        <input type="submit" value="SEND" class="btn btn-send"><br>
                    </div>
                </form>
            </div>  

            <!--
            {% for comment in comments %}
                <a name="comment-{{ comment.id }}"></a>
                <div class="row" id="{{ comment.id }}">
                    <div class="col-md-{{ comment.get_col }} col-md-offset-{{ comment.get_offset }}">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{ comment.author_id.get_full_name|default:comment.author_id.username }}</strong>&nbsp;&nbsp;
                                {{ comment.pub_date }}
                                <a href="#comment-{{ comment.id }}">#Comm</a>
                            </div>
                            <div class="panel-body">
                                <div>{{ comment.content|safe }}</div>
                                {% if form %}
                                <a class="btn btn-default btn-xs pull-right"
                                                onclick="return show_comments_form({{ comment.id }})">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
                <h3 id="write_comment"><a onclick="return show_comments_form('write_comment')">Написать комментарий</a></h3>
                <form id="comment_form" action="" method="post">
                {% csrf_token %}
                    <button type="submit" class="btn btn-primary">&nbsp;&nbsp;Комментировать</button>
                </form>
            
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Комментарии</h3>
                    </div>
                    <div class="panel-body">
                        Только авторизованные пользователи могут оставлять комментарии.<br />
                    </div>
                </div> -->
            
        </div>
    {% endfor %}

{% else %}

    <h3 class="title">We haven't got any post...</h3>
    
{% endif %}


{% endblock %}
