{% extends "discussions/base.html" %}

{% block title %}Profile{% endblock %}

{% block content_blog %}

<script>
    
    function to_bookmarks()
    {
        var current = $(this);
        var type = current.data('type');
        var pk = current.data('id');
        var action = current.data('action');
     
        $.ajax({
            url : type + "/" + pk + "/" + action + "/",       
            type : 'POST',
            data : { 'obj' : pk },
     
            success : function (json) {
                current.find("[data-count='" + action + "']").text(json.count);
            }
        });
     
        return false;
    }

    function to_likes()
    {
        var current = $(this);
        var type = current.data('type');
        var pk = current.data('id');
        var action = current.data('action');
     
        $.ajax({
            url : type + "/" + pk + "/" + action + "/",
            type : 'POST',
            data : { 'obj' : pk },
     
            success : function (json) {
                current.find("[data-count='" + action + "']").text(json.count);
            }
        });
     
        return false;
    }

     
    // Подключение обработчика

    
    $(function() {
            // В избранное
        $('[data-action="bookmark"]').click(to_bookmarks);
            // Лайк
        $('[data-action="like"]').click(to_likes);
    });

    
    
</script>

<div class="avatar">
    <!-- DropDown -->
    <div class="dropdown dropdown-profile" style="float:right;">
        <button class="dropbtn dropbtn-profile"><i class="fa-solid fa-sliders"></i></button>
        <div class="dropdown-content">
          <a href="#"><i class="fa-solid fa-user-group"></i> Friends</a>
          <a href="#"><i class="fa-solid fa-bookmark"></i> Favourites</a>
          <a href="{% url 'settings' %}"><i class="fa-solid fa-gears"></i> Settings</a>
          <a href="{% url 'log_out' %}"><i class="fa-solid fa-arrow-right-from-bracket danger-icon"></i> Log out</a>
        </div>
    </div>
    <div class="container">

        <div class="box">
            
            <div class="img-profile">
                <a href="{{ user_profile.profile_img.url }}">
                    <img src="{{ user_profile.profile_img.url }}" alt="None" class="img-user">
                </a>
            </div>
            
            <div>
                <h3 class="name-user">{{ user_profile.user.username }}</h3>
                <h2 class="bio">{{ user_profile.bio }}</h2>
            </div> 
            
        </div>

    </div>
    <div class="menu-overlay">
        4<ul class="menu">
            <li>Home</li>
            <li>Blog</li>
            <li>About</li>
            <li>Portfolio</li>
            <li>Contact</li>
        </ul>
    </div>
</div>
<hr>
{% endblock %}