{% extends "discussions/base.html" %}

{% block title %}Profile{% endblock %}

{% block content_blog %}

<script>
    
    function to_bookmarks()
    {
        var current = $(this);
        var type = current.data('type');
        var pk = current.data('id');
        var action = current.data('action');
     
        $.ajax({
            url : type + "/" + pk + "/" + action + "/",       
            type : 'POST',
            data : { 'obj' : pk },
     
            success : function (json) {
                current.find("[data-count='" + action + "']").text(json.count);
            }
        });
     
        return false;
    }

    function to_likes()
    {
        var current = $(this);
        var type = current.data('type');
        var pk = current.data('id');
        var action = current.data('action');
     
        $.ajax({
            url : type + "/" + pk + "/" + action + "/",
            type : 'POST',
            data : { 'obj' : pk },
     
            success : function (json) {
                current.find("[data-count='" + action + "']").text(json.count);
            }
        });
     
        return false;
    }

     
    // Подключение обработчика

    
    $(function() {
            // В избранное
        $('[data-action="bookmark"]').click(to_bookmarks);
            // Лайк
        $('[data-action="like"]').click(to_likes);
    });

    
    
</script>

<div class="avatar">
    <!-- DropDown -->
    <div class="dropdown dropdown-profile" style="float:right;">
        <button class="dropbtn dropbtn-profile"><i class="fa-solid fa-sliders"></i></button>
        <div class="dropdown-content">
          <a href="#"><i class="fa-solid fa-user-group"></i> Friends</a>
          <a href="#"><i class="fa-solid fa-bookmark"></i> Favourites</a>
          <a href="{% url 'settings' %}"><i class="fa-solid fa-gears"></i> Settings</a>
          <a href="{% url 'log_out' %}"><i class="fa-solid fa-arrow-right-from-bracket danger-icon"></i> Log out</a>
        </div>
    </div>
    <div class="container">

        <div class="box">
            <div class="img-profile">
                <a href="{{ user_profile.profile_img.url }}">
                    <img src="{{ user_profile.profile_img.url }}" alt="None" class="img-user">
                </a>
            </div>
            <div>
                <h3 class="name-user">{{ user_profile.user.username }}</h3>
                <h2 class="bio">{{ user_profile.bio }}</h2>
                </div>     
          </div>

    </div>

</div>

<hr>
{% if blog_post_user_list|length > 0 %}
    {% for post in blog_post_user_list %}
        <div class="post alert alert-info">
            <!-- DropDown -->
            <div class="dropdown" style="float:right;">
                <button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
                <div class="dropdown-content">
                  <a href="#"><i class="fa-solid fa-download"></i> Save</a>
                  <a href="#"><i class="fa-solid fa-share-from-square"></i> Share</a>
                  <a href="#"><i class="fa-solid fa-file-pen"></i> Edit</a>
                  <a href="#"><i class="fa-solid fa-trash-can danger-icon"></i> Delete</a>
                </div>
            </div>
            
            <div class="box">
                <div class="">
                    <a href="{% url 'profile_user' user_name=post.author.username %}">
                        <img src="{{ post.author.profile.all.0.profile_img.url }}" alt="None" class="img-profile-comm">
                    </a>
                </div>
                <div class="">
                    <a href="{% url 'profile_user' user_name=post.author.username %}">
                        <p class="author">{{ post.author }}</p>
                    </a>
                </div>
            </div>

            <h3 class="title">{{ post.title }}</h3>

            <a href="{{ post.image.url }}">
                <img src="{{ post.image.url }}" alt="None" class="post-image">
            </a>
            
            <div class="content">@{{ post.author }}: {{ post.content|safe }}</div><br>

            <p class="date">{{ post.date_created }}</p><br>
            
            <div class="py-3 px-4 space-y-3 box"> 
                               
                <div data-type="post" data-id="{{ post.id }}" data-action="like" class="flex space-x-4 lg:font-bold data-likes text-center">
                    <a href="">
                        <div class="p-2 rounded-full text-black " >
                        <!-- <span class="glyphicon glyphicon-star">Count: </span> -->
                        <!-- <span data-count="like">{{ post.amount_of_likes }}</span> -->
                        
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                            </svg>
                            
                            <!-- {% if post.amount_of_likes == 0 %}
                            <p>No likes</p>
                            
                            {% elif post.amount_of_likes == 1 %}
                            
                            <p>Liked by {{post.amount_of_likes}} person</p>
                            <p data-count="like"></p>
                            
                            {% else %}
                            <p data-count="like">Liked by {{post.amount_of_likes}} people</p>
                            
                            {% endif %} -->
                            
                            <p>Liked by </p>
                            <p data-count="like">{{post.amount_of_likes}}</p>
                            <p>people</p>
                        </div>   
                     </a>
                </div>

                <div class="data-comm text-center">

                    <a href="{% url 'discussions_detail' pk=post.pk %}">
                        <div class="p-2 rounded-full text-black " >
                            <i class="fa-solid fa-comment-dots comment-icon"></i>
                            {% if post.amount_of_comments == 0 %}
                            <p>No Comments</p>
                            {% elif post.amount_of_comments == 1 %}
                            <p>Commented by {{post.amount_of_comments}} person</p>
                            {% else %}
                            <p>Commented by {{post.amount_of_comments}} people</p>
                            {% endif %}
                        </div>  
                    </a>

                </div>

            </div>
        </div>
    {% endfor %}

{% else %}

<h3 class="title">You haven't got any post...</h3>

{% endif %}

{% endblock %}
