.btn-save {
    background-image: linear-gradient(60deg, rgb(250, 61, 238) 10%, #9d3ef0 100%);

    border-radius: 25px;
    border: 1px colid #9d3ef0;

    width: 25rem;
}

.name-room {
    font-weight: 900;
}

.send-field {
    padding: 1vw;

    display: inline;

    border-radius: 100px;
    border: 3px solid white;

    width: 75vw;

    margin-top: 1vw;
}

.send-field:focus {
    border: 1px solid rgb(123, 69, 223);
    box-shadow: 10px 10px 100px #bc8de5;
    outline: none;

    padding: 1.5vw;
  
}

.message_form:hover  .btn-send-message {
    margin-bottom: 4vw;
    background-color: white;
    color: rgb(123, 69, 223);
}

input {
    list-style: none;
}
.own_message { 

    color: white;

    margin: 1vw 1vw 1vw 0vw;
    padding: .5vw;

    border-radius: 20px;
    background-image: linear-gradient(60deg, rgb(123, 69, 223) 10%, #7522bd 100%);

    /* background-color: red; */
    
    /* max-width: min-content; */
    max-width: 45%;

    display: inline-block;
    
}

.other_message {
    color: white;

    margin: 1vw 0vw 1vw 1vw;
    padding: .5vw;

    border-radius: 20px;
    background-image: linear-gradient(60deg, rgb(237, 42, 224) 10%, #9d3ef0 100%);

    max-width: 45%;
    display: inline-block;
} 

.content-message {
    text-align: left;

    font-size: 20px;
    font-weight: 600;
}

.date-message {
    padding-left: 25vw;

    font-size: 15px;
    font-weight: 300;

    color: rgb(180, 178, 178);
}

.btn-send-message {
    text-align: center;

    display: inline;

    margin-left: 1vw;

    font-size: 20px;
    font-weight: 500;

    margin-bottom: 3.5vw;
    padding: 1vw;

    border: 1px solid white;
    border-radius: 100px;
}

.first-message {
    position: relative;


    display: inline-block;

    margin: 3vw 0 4vw 0;
    padding: 1vw;

    background-color: white;
    color: rgb(123, 69, 223);

    font-size: 20px;
    font-weight: 500;

    width: 30vw;

    border: 1px solid white;
    border-radius: 100px;
}

.message_form {
    position: sticky;
    bottom: 0vw;
    /* background-color: red; */
}

/* .component {
    display: inline-block;
    background-color: black;
}

.component-input {
    margin-top: 2vw;
}

.component-submit {
    margin-bottom: 2vw;
} */

/* 
.input-comment {
  border-radius: 30px;

  display: inline;
  
  margin-bottom: 1vw;

.btn-send {
  text-align: center;

  display: inline;

  border-radius: 50px;
  background-image: linear-gradient(60deg, rgb(61, 120, 202) 10%, #16d054 100%);

  font-size: 20px;
  font-weight: 500;

  margin-bottom: 3vw;
}
}
*/

.name-with-conversation {
    position: sticky;
    /* background-color: red; */

    background-image: linear-gradient(60deg, rgb(28, 228, 158) 10%, #9d3ef0 100%);

    /* padding: .5vw; */

    margin: 0 3vw;

    top: 0;
    left: 0;
    right: 0;

    color: white;

    font-size: 30px;
    font-weight: 600;

    border-radius: 50px;
    /* border: 1px solid white; */
}


.name-with-conversation a {
    color: white;

    margin: 0 1vw;
}

.img-chatting {
    display: inline;

    width: 15vh; 
    height: 15vh;

    margin-bottom: 1vw;
    margin-left: 1vw;
}

.img-chatting-profile {
    display: inline;

    width: 12vh; 
    height: 12vh;

    margin: 1vw 1vw 2vw 5vw;
}

.interlocutor h3 {
    display: inline;

    font-size: 35px;
    font-weight: 600;

    margin-top: 3vw;
}   

.interlocutor p {
    display: inline-block;

    font-size: 20px;
    font-weight: 300;

    color: #7522bd;
}

.interlocutor {
    margin-top: 1vw;
    margin-left: 1vw;

    font-size: 20px;
    font-weight: 400;
}


.chat-home {
    color: white;

    font-size: 30px;
    font-weight: 500;
}

.box-chats {
    border-radius: 20px;
    /* background-color: white; */
    border-top: 1px solid white;
}


.message_last_info label {
    display: inline-block;

    font-size: 20px;
    font-weight: 300;

    color: #000000;
    max-width: 20%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: red; */
}

.message_last_info {
    max-width: 45%;
}

.read-icon {
    color: #9d3ef0;
}
  
.unread-icon {
    color: rgb(207, 207, 207);
}

.header h3 {
    margin-top: 1vw;
    margin-right: 50vw;

    color: white;

    font-size: 40px;
}

.search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 1s;
}
.search-click:focus {
    width: 300px;
    padding-left: 50px;
}
.search-click {
    position: relative;
    overflow: hidden;
    height: 50px;
}
.search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
}

.date-created-mess {
    display: block;
}

.mess-own-readable {
    display: inline-block;

    /* width: 5vw; */


    margin-left: 45%;
    padding-left: 3vw;
    
    /* background-color: red; */
}

.mess-other-readable {
    display: inline-block;

    width: 5vw;
    margin: 0vw 50vw 0vw 0vw;


    padding-right: 3vw;
    margin-right: 45%;

    /* background-color: red; */
}

.mess-other-readable :hover {
   content: "READ"; 
}

/* BORDER-ANIMATION-IMG */
.box-image {
    margin-right: 4%;
    position: relative;
    display: inline;
    width: 30vh;
    height: 30vh;
    background: rgba(0, 0, 0, 0.5) ;
    border-radius: 50%;

    overflow: hidden;
}

.box-image::before {
    content: '';
    position: absolute;
    
    inset: -10px 0px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;

    animation: animate 4s linear infinite;
}

.box-image:hover::before {
    inset: -20px 50px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box-image::after {
    content: '';

    position: absolute;

    inset: 6px;
    background: black;

    border-radius: 50%;
    z-index: 1;
}

.content-image {
    position: absolute;

    inset: 10px;
    /* border: 6px solid white; */

    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}

.content-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 0.5s;
    pointer-events: none;
}

.box-image :hover .content-image img {
    opacity: 0;
}

.amount-unreaded {
    margin-left: 60vw;
    background-color: #d400d4;
    color: white;

    font-size: 20px;
    font-weight: 700;
}

.title a {
    margin-top: 1vw;
    display: block;
    font-size: 35px;
    font-weight: 600;

    color: white;
    text-decoration: underline;
}