{% load static %}

    <!-- <footer> 
        <ul>
            <div class="row justify-content-around tabs">
                <div class="container col text-center tab">
                    <a id="radio-1" href="{% url 'posts_feed' %}" class="glider"><li><i class="fa-solid fa-cloud-showers-water"></i> Ocean</li></a>
                </div>
                <div class="container col text-center tab">
                    <a id="radio-2" href="{% url 'create_post' %}" class="glider"><li><i class="fa-solid fa-circle-plus"></i> Create</li></a>
                </div>
                <div class="container col text-center tab">
                    <a id="radio-3" href="{% url 'home' %}" class="glider"><li><i class="fa-solid fa-comment"></i> Chat</li></a>
                </div>
                <div class="container col text-center  tab">
                    <a href="{% url 'user_posts_list' username=user %}" class="glider"><li><i class="fa-solid fa-house-flood-water"></i> Profile</li></a>
                </div>
            </div>


        </ul>
     </footer> -->


     <div class="container container-tab col-md-12">
        <div class="tabs">
           
            <input type="radio" id="radio-1" name="tabs" onclick="location.href = '{% url "posts_feed" %}';"/>
            
            <label class="tab" for="radio-1">
                
                <i class="fa-solid fa-cloud-showers-water">       
                </i> Ocean            
            </label>                
   
            <input type="radio" id="radio-2" name="tabs" onclick="location.href = '{% url "create_post" %}';"/>

            <label class="tab" for="radio-2">
            <i class="fa-solid fa-circle-plus"></i> Create
            </label>

            <input type="radio" id="radio-3" name="tabs" onclick="location.href = '{% url "home" %}';"/>
            <label class="tab" for="radio-3"><i class="fa-solid fa-comment"></i> Chat</label>
            
            <input type="radio" id="radio-4" name="tabs" onclick="location.href = '{% url "user_posts_list" username=user %}';" />
            <label class="tab" for="radio-4"><i class="fa-solid fa-house-flood-water"></i> Profile<span class="notification">2</span></label>
            
            <span class="glider"></span>
        </div>
    </div>


<script>

    function checkTab(){
        
        //alert(location.pathname);


        if (location.pathname === '{% url "posts_feed" %}'){
            //alert("1_st TAB");
            document.getElementById("radio-1").checked = true;
        } else if (location.pathname === '{% url "create_post" %}'){
            //alert("2_nd TAB");
            document.getElementById("radio-2").checked = true;
        } else if (location.pathname === '{% url "home" %}'){
            //alert("3_rd TAB");
            document.getElementById("radio-3").checked = true;
        } else {
            //alert("4_th TAB");
            document.getElementById("radio-4").checked = true;

        };

    };

    
    window.onload = checkTab;
</script>