body {
    margin: 0px;

    background-image: linear-gradient(60deg, rgb(123, 69, 223) 10%, #7522bd 100%);
 
}

.example::-webkit-scrollbar {
    display: none;
  }
   
  /* Скрываем scrollbar для IE, Edge и Firefox */
.example {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}

/* footer {
    overflow: hidden;
    width: 100%;
    
    background: #9d3ef0;  
    background-image: linear-gradient(60deg, rgb(237, 42, 224) 10%, #9d3ef0 100%);
   
    color: white;

    padding: 10px 0 0 0;
    border-radius: 20px;
    position: fixed;

    bottom: 0;
} */

.container {
    display: inline;
}

footer ul {list-style: none}
footer ul li {
    color: white;
    display: inline;
    transition: all .6s ease;
}

.footer-a {
    text-decoration: none;
    display: flex;
    text-align: center;
    font-size: 20px;

    align-items: center;
    justify-content: center;
    height: 54px;
    width: 200px;
    
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;

    color: rgba(0, 0, 0, 0.15);
}

footer ul li:hover, footer ul a:hover{
    color: #75756f;
    transform: scale(1.05);
}

.author {
    margin-left: 5%;
    margin-right: 70%;
    font-size: 15px;
    padding: 5px;
    width: auto;
    border: 2px solid white;
    border-radius: 100px;
    text-align: center;
    background-image: linear-gradient(60deg, rgb(237, 42, 224) 10%, #9d3ef0 100%);
}

.title {
    text-align: center;

    font-size: 30px;
    font-weight: bold;
}

.content {
    text-align: start;
    
    margin-left: 10%;
    margin-right: 10%;

    font-size: 20px;
    font-weight: 500;
    
}

.date {
    margin-left: 5%;
    margin-right: 80%;

    font-size: 18px;
    font-weight: 200;
}

.amount-likes {
    margin-left: 15%;
    margin-right: 60%;

    font-size: 18px;
    font-weight: 700;
}

.post {
    margin: 2% 3%;
    border-radius: 40px;
    border: 1px solid #9d3ef0;

    background: #9d3ef0;  
    background-image: linear-gradient(0deg, rgb(128, 180, 240) 10%, #9d3ef0 100%);

    /* переносит текст, если не вмещается */
    word-break: break-all;

    overflow: hidden;
    text-overflow: ellipsis;

}

/* tabs */

:root {
    --primary-color: #9d3ef0;
    --primary-color: #e6eef9;

    --secondary-color: #e6eef9;
    --secondary-color:#9d3ef0;
  }
  *, *:after, *:before {
    box-sizing: border-box;
  }
  .container-tab {
    position: fixed;
    left: 0;
  
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 10px;
  }
  .tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 99px;
  }
  .tabs * {
    z-index: 2;
  }
  input[type="radio"] {
    display: none;
  }
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 20vw;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
  }
  .notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.75rem;
    border-radius: 100%;
    background-color: var(--primary-color);
    transition: 0.15s ease-in;
  }
  input[type="radio"]:checked + label {
    color: var(--primary-color);
  }
  input[type="radio"]:checked + label > .notification {
    background-color: #bebebe;
    color: rgb(255, 255, 255);
  }
  input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
  }
  input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
  }
  input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
  }
  input[id="radio-4"]:checked ~ .glider {
    transform: translateX(300%);
  }
  .glider {
    position: absolute;
    display: flex;
    height: 54px;
    width: 20vw;
    background-color: var(--secondary-color);
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
  }
  @media (max-width: 700px) {
    .tabs {
      transform: scale(0.6);
    }
  }