.btn-save {
    background-image: linear-gradient(60deg, rgb(250, 61, 238) 10%, #9d3ef0 100%);

    border-radius: 25px;
    border: 1px colid #9d3ef0;

    width: 25rem;
}

.name-room {
    font-weight: 900;
}

.container-chat {

    overflow: hidden;
    width: 95vw;
    height: 100vh;
     
    background-image: linear-gradient(60deg, rgb(237, 42, 224) 10%, #9d3ef0 100%);
   
    color: white;

    border-radius: 20px;
    position: fixed;

    bottom: 0;
    right: 0;
    left: 0;

    padding: 5vh;

}

.send-field {
    bottom: 0;
    right: 0;
    left: 0;

    display: inline;

    border-radius: 100px;
    border: 3px solid white;

    width: 80vw;

}

input {
    list-style: none;
}

.other_message {
    background-color: red;
}
