<script type="text/javascript">

    function cancelFriendRequest(friend_request_id, uiUpdateFunction){
        var url = "{% url 'decline_friend' friend_request_id=-1 %}".replace("-1", friend_request_id)

        $.ajax ({
            type: "GET",
            dataType: "json",
            url: url,
            timeout: 5000,
            success: function(data){
                if (data.response == "Friend Request Cancelled"){

                } else if (data.response != null){
                    alert(data["response"])
                }

            },
            error: function(data){
                alert("Something Went Wrong" + data);
            },
            complete: function(data){
                //alert("UPDATE")
                uiUpdateFunction();
            }
        })
    }

</script>