<script type="text/javascript">
    $(document).ready(function() {
        // executes when HTML-Document is loaded and DOM is ready
        //alert("document is ready");

        try {
            $(`#${window.currentUser.user}`).show();     
        } catch (err) {
            //alert(err);

            window.currentUser = {
                user: false,
                id: false
              };

            //alert(window.currentUser.user)
        }

    });

    function onFriendRequestSent(){
        
        location.reload();
    }

    function onFriendRequestAccepted(){ 
        location.reload();
    }

    function onFriendRemoved(){ 
        location.reload();
    }

    function onFriendRequestCancelled(){ 
        location.reload();
    }

    function showPopUp(user){
        PopUpShowProfileInfo(`${user}`);
    }

    function triggerAcceptFriendRequest(friend_request_id){
        //alert(friend_request_id);
        acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
    }

    function triggerCancelFriendRequest(friend_request_id){
        //alert("cancel - "+friend_request_id);
		cancelFriendRequest(friend_request_id, onFriendRequestCancelled)
	}

    var SendFriendRequestBtn = document.getElementById("id_send_friend_request")
    if (SendFriendRequestBtn != null){
        
        SendFriendRequestBtn.addEventListener("click", function(){
            if (window.currentUser.user){                
                SendFriendRequest(window.currentUser.id, onFriendRequestSent)

            } else {
                alert("WITHOUUT")
                SendFriendRequest("{{user_object.id}}", onFriendRequestSent)
            }
            
        })
    }

    var removeFriendBtn = document.getElementById("id_unfriend_btn")
	if (removeFriendBtn != null){
		removeFriendBtn.addEventListener("click", function(){
			
            if (window.currentUser.user){
                //alert(window.currentUser.name);
                removeFriend(window.currentUser.id, onFriendRemoved)
                
            } else {
                removeFriend("{{user_object.id}}", onFriendRemoved)
            }
		})
	}

</script>